@page "/Admin/Login"
@model Presentation.Areas.Admin.Pages.Auth.LoginModel
@{
}
<section class="container-fluid mt-5 flex-fill py-5">
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="col-md-10 mx-auto mb-3 col-lg-5">
            <div class="alert alert-danger fw-bold border-2 border-danger alert-dismissible fade show" role="alert">
                <strong>Warning:</strong> @Model.ErrorMessage !
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border border-4 rounded-3 bg-light needs-validation" method="post" novalidate>
            <h3 class="text-center mb-3">Admin Sign In</h3>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="@Model.LoginDto.UsernameOrEmail" required>
                <label asp-for="@Model.LoginDto.UsernameOrEmail">Username or email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" asp-for="@Model.LoginDto.Password" required>
                <label asp-for="@Model.LoginDto.UsernameOrEmail">Password</label>
            </div>
            <div class="checkbox mb-3 d-flex justify-content-between">
                <label>
                    <input type="checkbox" asp-for="@Model.LoginDto.RememberMe"> Remember me
                </label>
                <p>Forgot your <a href="/Admin/forgot-password" class="text-decoration-none fw-bold text-primary">password ?</a></p>
            </div>
            <button class="w-100 btn btn-lg btn-dark fw-bold" type="submit">Sign In</button>
            <hr class="my-4">
        </form>
    </div>
</section>
<script src="~/js/form_validation.js"></script>
